.ql-toolbar,
.ql-container {
  transition: border-color, box-shadow 0.3s;
}

.ql-toolbar {
  border-radius: 5px 5px 0 0;
}

.ql-container {
  border-radius: 0 0 5px 5px;
}

.quill--focus .ql-container.ql-snow {
  border-right: 1px solid #37a3ff;
  border-left: 1px solid #37a3ff;
  border-bottom: 1px solid #37a3ff;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

.quill--focus .ql-toolbar.ql-snow {
  border: 1px solid #37a3ff;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

.article-editor .ql-editor {
  max-height: 400px;
}

.article-editor .ql-container {
  font-size: 16px;
  line-height: 1.56;
  color: #24292e;
}

.article-editor .ql-container h1, .article-editor .ql-container h2, .article-editor .ql-container h3 {
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: #24292e;
}

.article-editor .ql-container h2 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 32px;
}

.article-editor .ql-container h3 {
  padding-left: 12px;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 28px;
  position: relative;
}

.article-editor .ql-container h3:before {
  content: "";
  height: 28px;
  width: 6px;
  position: absolute;
  top: 0;
  left: 0;
  background: #24292e;
}

.article-editor .ql-container p:not(:last-child) {
  margin-bottom: 24px;
}

.article-editor .ql-container ul,
.article-editor .ql-container ol {
  margin: 0 0 0 34px;
  padding: 0;
}

.article-editor .ql-container ul li,
.article-editor .ql-container ol li {
  padding: 9px 0;
  line-height: 1.6;
}

.article-editor .ql-container ul li:first-child,
.article-editor .ql-container ol li:first-child {
  padding-top: 0;
}

.article-editor .ql-container ul {
  list-style-type: disc;
}

.comment-editor .ql-container {
  font-size: 14px;
  line-height: 1.56;
  color: #24292e;
}

.comment-editor .ql-container p:not(:last-child) {
  margin-bottom: 18px;
}

.comment-editor .ql-container ul,
.comment-editor .ql-container ol {
  margin: 0 0 0 18px;
  padding: 0;
}

.comment-editor .ql-container ul li,
.comment-editor .ql-container ol li {
  padding: 7px 0;
  line-height: 1.6;
}

.comment-editor .ql-container ul li:first-child,
.comment-editor .ql-container ol li:first-child {
  padding-top: 0;
}

.comment-editor .ql-container ul {
  list-style-type: disc;
}

.ql-snow .ql-editor .img-fluid.ql-align-center  {
  clear: both;
  margin: 0 30%;
}

.ql-snow .ql-editor .img-fluid {
  max-width: 40%;
  max-height: 40%;
  float:left;
  margin: 4px 10px 2px 0px;
  border:1px solid #CCC;
  padding:6px;
}

.ql-snow .ql-editor .img-fluid.ql-align-right  {
  float:right;
}

