.chat {
  height: 100%;
}

.chat-container {
  max-width: 700px;
  margin: 30px auto 0;
  background-color: #fff;
  box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
  height: calc(100% - 60px);
  max-height: 700px;
  position: relative;
  border-radius: 10px;
}

ul {
  list-style: none;
  margin: 0;
  overflow: auto;
  overflow-y: scroll;
  padding: 0 20px 0 20px;
  height: 100%;
  width: 80%;
  border-left: 1px solid #e8e8e8;
}

ul li {
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #f4f4f4;
}

.chat-main {
  display: flex;
  height: 350px;
}

/* Header */

.chat-header {
  text-align: center;
  padding: 15px;
  padding-bottom: 0;
  border-bottom: 1px solid #e8e8e8;
}

.button-close {
  position: absolute;
  background: none;
  border: none;
  right: 20px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  outline: none;
}

.button-close:hover {
  opacity: 1;
  cursor: pointer;
}

.button-close:before,
.button-close:after {
  position: absolute;
  left: 15px;
  top: 0;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}

.button-close:before {
  transform: rotate(45deg);
}
.button-close:after {
  transform: rotate(-45deg);
}

/* User list */

.user-area {
  width: 20%;
}

.user-list-title {
  margin: 20px 0 20px 5px;
  font-weight: 300;
  display: inline-block;
}

.indicator-online {
  background: #28b62c;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-bottom: 2px;
  margin-left: 20px;
  border-radius: 50%;
  animation: pulse 2s infinite linear;
}

@keyframes pulse {
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.user-list {
  border: none;
  width: 100%;
}

.user {
  border: none;
  padding: 5px;
}

.user:hover {
  color: #128ff2;
}

.user-link {
  color: #333;
}

.form-control {
  width: 100%;
  min-height: 38px;
  font-size: 15px;
}

/* messages */

.message-area {
  width: 100%;
}

.message-list {
  width: 100%;
}

.message {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f4f4f4;
  padding: 10px 20px 10px 68px;
  color: black;
}

.event-message {
  text-align: center;
}

.toMe {
  border-bottom: 1px solid#128ff2;
}

.message:hover {
  cursor: pointer;
}

.message-avatar {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 10px;
  top: 10px;
  border: 1px solid #128ff2;
  border-radius: 50%;
}

.message-author {
  font-weight: 700;
  font-size: 1rem;
}

.message-date {
  color: #888888;
  font-size: 10px;
}

.message-image {
  margin: 10px 0;
  max-height: 250px;
}

.message-text {
  margin: 0;
}

.full-messages {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: #fff;
  border: 1px solid #128ff2;
  margin: 20px auto;
  margin-left: calc(50% - 20px);
  cursor: pointer;
}

.arrow-up {
  border: solid #128ff2;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
}

/* form */

.message-form {
  padding: 20px;
}

.form-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
